---
layout: default
title: Murray User Manual (MUM)
---
<div class="blurb">
	<h1>Welcome to Murray User Manual</h1>
</div><!-- /.blurb -->

<ul class="posts">
	
	{% for post in site.posts offset: 0 limit: 10 %}
	    <h2>
		<a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
	    </h2>
	    {{ post.date | date_to_string }}
	    {{ post.content }}
	    <hr />
	{% endfor %}
	{% for post in site.posts offset: 0 limit: 10 %}
	    <h2>
		<a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
	    </h2>
	    {{ post.date | date_to_string }}
	    {{ post.content }}
	    <hr />
	{% endfor %}	
</ul>
