<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="menu">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Murray">Murray</a></li>
	        		<li><a href="/Stud">Student</a></li>
	        		<li><a href="/TotD">Tips of the day</a></li>
	        		<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/realDonaldTrump">File complaints and concersn here.</a></li>
	        		<li><a href="https://github.com/rowen2/rowen2.github.io">View our source code!</a></li>
				</ul>
			</footer>
		</body>
	</html>
