<!DOCTYPE html>
	<html>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
		<script>
 		 // Initialize Firebase
 		 var config = {
  			  apiKey: "AIzaSyDYXkg13AmcgxHlxDbMOBd25caaymVHhBE",
   			 authDomain: "test-project-c7062.firebaseapp.com",
   			 databaseURL: "https://test-project-c7062.firebaseio.com",
   			 storageBucket: "test-project-c7062.appspot.com",
   			 messagingSenderId: "568808702190"
 		 };
 		 firebase.initializeApp(config);
		</script>
		
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Murray">Murray</a></li>
	        		<li><a href="/Stud">Student</a></li>
	        		<li><a href="/TotD">Tips of the day</a></li>
	        		<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://firebase.google.com/">Google firebase was used in this</a></li>
	        		<li><a href="https://github.com/rowen2/rowen2.github.io">View our source code</a></li>
				</ul>
			</footer>
		</body>
	</html>
